.list-view{

    -fx-font-size: 16px;
    -fx-background-color: rgb(255, 197, 238);
}

.list-view .list-cell{

    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}